Dated: 9 Aug 2024
* https://docs.python.org/3/library/re.html
* https://www.dataquest.io/blog/regex-cheatsheet/

In [1]:
import re

In [2]:
text = """pakistan zinda bad
123 456 7892
umeradeeb94@gmail.com
panacloud
ned zinda bad
"""

#\n means line change
#\t means tab

# data = re.findall('p',text, re.IGNORECASE)
# data

display(text)
print(text)

'pakistan zinda bad\n123 456 7892\numeradeeb94@gmail.com\npanacloud\nned zinda bad\n'

pakistan zinda bad
123 456 7892
umeradeeb94@gmail.com
panacloud
ned zinda bad

In [3]:
text = """pakistan zinda bad
123 456 7892
\tumeradeeb94@gmail.com
panacloud
ned zinda bad
"""

data = re.findall('.',text)          #'.' means anything except \n
print(data)

['p', 'a', 'k', 'i', 's', 't', 'a', 'n', ' ', 'z', 'i', 'n', 'd', 'a', ' ', 'b', 'a', 'd', '1', '2', '3', ' ', '4', '5', '6', ' ', '7', '8', '9', '2', '\t', 'u', 'm', 'e', 'r', 'a', 'd', 'e', 'e', 'b', '9', '4', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm', 'p', 'a', 'n', 'a', 'c', 'l', 'o', 'u', 'd', 'n', 'e', 'd', ' ', 'z', 'i', 'n', 'd', 'a', ' ', 'b', 'a', 'd']

In [4]:
text = """pakistan zinda bad
123 456 7892
\tumeradeeb94@gmail.com
panacloud
ned zinda bad
abad pakistan my country
xyz abc egh
"""

data = re.findall('pa',text)          
print(data)

['pa', 'pa', 'pa']

# *, +
# + = 1 or many\n
# * = 0 or many

In [5]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tumeradeeb94@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
xyz abc egh
pnra
"""
data = re.findall('p.*n',text)          
print(data)

# data = re.findall('z...a',text)          
# print(data)

# data = re.findall('p......n',text)          
# print(data)

# data = re.findall('c.....y',text)          
# print(data)

['pakistan zin', 'polan', 'pan', 'pakistan my coun', 'pn']

In [6]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tumeradeeb94@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
xyz abc egh
pnra
"""
data = re.findall('p.+n',text)          
print(data)

['pakistan zin', 'polan', 'pan', 'pakistan my coun']

# ^ and $
* ^ start of line

* $ end of line

In [9]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tumeradeeb94@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
Pakistan
xyz abc egh
pnra
"""

data = re.findall('^p.*d$',text)
print(data)

[]

In [7]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tumeradeeb94@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
Pakistan
xyz abc egh
pnra
"""

data = re.findall('^p.*d$',text, re.MULTILINE)
print(data)

['pakistan zinda bad', 'polan hello world', 'panacloud']

In [10]:
text = """pakistan zinda bad"""
data = re.findall('^p.*d$',text)
print(data)

['pakistan zinda bad']

In [11]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tumeradeeb94@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
Pakistan
xyz abc egh
pnra
"""

data = re.findall('^h.*a$',text, re.MULTILINE)
print(data)

['hello world pa']

# ?
# means optional

In [12]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tumeradeeb94@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
pik
pop
Pakistan
xyz abc egh
pnra
"""

data = re.findall("p.k?",text)
print(data)

['pak', 'po', 'pa', 'pak', 'pa', 'pik', 'po', 'pn']

In [14]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tumeradeeb94@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
pik
pop
Pakistan
xyz abc egh
pnra
"""

data = re.findall("p.*n",text)
print(data)

data = re.findall("p.*?n",text)
print(data)

['pakistan zin', 'polan', 'pan', 'pakistan my coun', 'pn']
['pakistan', 'polan', 'pan', 'pakistan', 'pn']

In [16]:
text = """

 Pakistan
 
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

zinda bad
"""

pattern = "<.*>.*</.*>

data = re.findall(pattern, text)
print(data)

['<h1>This is a Heading</h1>', '<p>This is a paragraph.</p>']

In [20]:
text = """

 Pakistan
 
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<x>This is a paragraph.<pakistan/p>

zinda bad
"""

pattern = "<.*>.*<?/.*>"

data = re.findall(pattern, text)
print(data)

['<h1>This is a Heading</h1>', '<p>This is a paragraph.</p>', '<x>This is a paragraph.<pakistan/p>']

# {m,n}

In [28]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tumeradeeb94@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
pik
pop
Pakistan
paaaak
pyyyyyk
p222k
ppp pppppppppp ppppppppppp
xyz abc egh
pnra
"""

data = re.findall("p.{4}k", text) 
print(data)

['paaaak', 'pyyyyyk']

In [29]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tumeradeeb94@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
pik
pop
Pakistan
paaaak
pyyyyyk
p222k
ppp pppppppppp ppppppppppp
xyz abc egh
pnra
"""

data = re.findall("p.{3,4}k", text) 
print(data)

['paaaak', 'p222k']

In [30]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tumeradeeb94@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
pik
pop
Pakistan
paaaak
pyyyyyk
p222k
ppp pppppppppp ppppppppppp
xyz abc egh
pnra
"""

data = re.findall("p.{2,10}n", text) 
print(data)

['pakistan zin', 'polan', 'pakistan']

In [34]:
text = """pakistan zinda bad
123 456 7892
polan hello world
\tumeradeeb94@gmail.com
panacloud
ned zinda bad
abad pakistan my country
hello world pa
pik
pop
Pakistan
paaaak
pyyyyyk
p222k
ppp pppppppppp ppppppppppp
xyz abc egh
pnra
tasman
"""

data = re.findall("[pta].*[nkh]", text)     # [] means that first letter is anything from p or t or a 
print(data)

['pakistan zin', 'polan h', 'pan', 'abad pakistan my coun', 'pik', 'akistan', 'paaaak', 'pyyyyyk', 'p222k', 'abc egh', 'pn', 'tasman']

In [43]:
text = """

 Pakistan
 
<h1>This is a Heading</h1>
<h2>This is second Heading</h2>
<h3>This is third Heading</h3>
<h4>This is forth Heading</h4>
<h5>This is fifth Heading</h5>
<h6>This is sixth Heading</h6>
<p>This is a paragraph.</p>


zinda bad
"""

data = re.findall("<h[1-4]>.*</h[1-4]>", text)
data

['<h1>This is a Heading</h1>',
 '<h2>This is second Heading</h2>',
 '<h3>This is third Heading</h3>',
 '<h4>This is forth Heading</h4>']

In [45]:
text = """

 Pakistan
 
<h1>This is a Heading</h1>
<h2>This is second Heading</h2>
<h3>This is third Heading</h3>
<h4>This is forth Heading</h4>
<h5>This is fifth Heading</h5>
<h6>This is sixth Heading</h6>
<p>This is a paragraph.</p>


zinda bad
"""

data = re.findall("<h[1-6]>(.*)</h[1-6]>", text)
data

['This is a Heading',
 'This is second Heading',
 'This is third Heading',
 'This is forth Heading',
 'This is fifth Heading',
 'This is sixth Heading']

In [46]:
text = """

 Pakistan
 
<h1>This is a Heading</h1>
<h2>This is second Heading</h2>
<h3>This is third Heading</h3>
<h4>This is forth Heading</h4>
<h5>This is fifth Heading</h5>
<h6>This is sixth Heading</h6>
<p>This is a paragraph.</p>

42201-1254865-5
42301-8642358-3
42501-5486235-1

zinda bad
"""

data = re.findall("[0-9]{5}-[0-9]{7}-[0-9]{1}", text)
data

['42201-1254865-5', '42301-8642358-3', '42501-5486235-1']

In [47]:
text = """

 Pakistan
 
<h1>This is a Heading</h1>
<h2>This is second Heading</h2>
<h3>This is third Heading</h3>
<h4>This is forth Heading</h4>
<h5>This is fifth Heading</h5>
<h6>This is sixth Heading</h6>
<p>This is a paragraph.</p>

42201-1254865-5
42301-8642358-3
42501-5486235-1

zinda bad
"""

data = re.findall("\d{5}-\d{7}-\d{1}", text)     #\d means number here
data

['42201-1254865-5', '42301-8642358-3', '42501-5486235-1']

In [48]:
text = """

 Pakistan
 
<h1>This is a Heading</h1>
<h2>This is second Heading</h2>
<h3>This is third Heading</h3>
<h4>This is forth Heading</h4>
<h5>This is fifth Heading</h5>
<h6>This is sixth Heading</h6>
<p>This is a paragraph.</p>

42201-1254865-5
42301-8642358-3
42501-5486235-1

zinda bad
"""

data = re.findall("(\d{5})-(\d{7})-(\d{1})", text)     #\d means number here
data

[('42201', '1254865', '5'),
 ('42301', '8642358', '3'),
 ('42501', '5486235', '1')]

In [51]:
text = """

 Pakistan
 
<h1>This is a Heading</h1>
<h2>This is second Heading</h2>
<h3>This is third Heading</h3>
<h4>This is forth Heading</h4>
<h5>This is fifth Heading</h5>
<h6>This is sixth Heading</h6>
<p>This is a paragraph.</p>

42201-1254865-5
42301-8642358-3
42501-5486235-1

zinda bad
"""

data = re.findall("(\d{5})-\d{7}-(\d{1})", text)     #\d means number here
data

[('42201', '5'), ('42301', '3'), ('42501', '1')]

In [53]:
text = """

 Pakistan
 
<h1>This is a Heading</h1>
<h2>This is second Heading</h2>
<h3>This is third Heading</h3>
<h4>This is forth Heading</h4>
<h5>This is fifth Heading</h5>
<h6>This is sixth Heading</h6>
<p>This is a paragraph.</p>

42201-1254865-5
42301-8642358-3
4250123-5486235-1

zinda bad
"""

data = re.findall("\d{5,}-\d{7}-\d{1}", text)     #\d means number here
data

['42201-1254865-5', '42301-8642358-3', '4250123-5486235-1']